{
    "openapi": "3.0.0",
    "info": {
        "title": "Evaluation application for Megainsight",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://megainsight.dsv/api"
        }
    ],
    "paths": {
        "http://megainsight.dsv/api/branchs": {
            "get": {
                "tags": [
                    "Branchs"
                ],
                "summary": "Lists the name of all Branches sorted alphabetically",
                "operationId": "1fd6751af4c52d7ee3bb37e652c3eee1",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "no_branch": {
                                                        "type": "string",
                                                        "example": "ACME co"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "http://megainsight.dsv/api/branchs/{branch_id}": {
            "get": {
                "tags": [
                    "Branchs"
                ],
                "summary": "Shows branch information.",
                "operationId": "610dd0d65a32391c2a73581e44d6d43b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "no_branch": {
                                            "type": "string",
                                            "example": "ACME co"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2023-02-23T00:09:16.000000Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2023-02-23T12:33:45.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Branch not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "http://megainsight.dsv/api/branchname/{branch_name}": {
            "get": {
                "tags": [
                    "Branchs"
                ],
                "summary": "Shows branch information.",
                "operationId": "3b60c5edc2a6079b128fd12f94f568a1",
                "parameters": [
                    {
                        "name": "no_branch",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "no_branch": {
                                            "type": "string",
                                            "example": "ACME co"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2023-02-23T00:09:16.000000Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2023-02-23T12:33:45.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Branch not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "http://megainsight.dsv/api/branchemployees/{branch_id}": {
            "get": {
                "tags": [
                    "Branchs"
                ],
                "summary": "Shows the information of a Branch and all Employees related to it..",
                "operationId": "a972111a55ab53227955bf572d0da890",
                "parameters": [
                    {
                        "name": "no_branch",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "no_branch": {
                                            "type": "string",
                                            "example": "ACME co"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2023-02-23T00:09:16.000000Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2023-02-23T12:33:45.000000Z"
                                        },
                                        "employees": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "example": 1
                                                    },
                                                    "no_employee": {
                                                        "type": "string",
                                                        "example": "Ayrton Senna"
                                                    },
                                                    "branch_id": {
                                                        "type": "number",
                                                        "example": 1
                                                    },
                                                    "role_id": {
                                                        "type": "number",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2023-02-23T00:09:16.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2023-02-23T12:33:45.000000Z"
                                                    }
                                                },
                                                "type": "object",
                                                "format": "query"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Branch not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "http://megainsight.dsv/api/employees": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Lists the name of all Employees sorted alphabetically",
                "operationId": "db6a630b58da4fc86d9ecbcc7569e67a",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "no_employee": {
                                                        "type": "string",
                                                        "example": "Roberto Carlos"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}